body {
  background-color: rgb(226, 226, 226);
}

.layout {
  display: flex;
  justify-content: space-around;
}

.card {
  position: relative;
  width: 24rem;
  height: 28rem;
  border-radius: .8rem;
  margin-top: 20px;
  background-color: #fff;
}

.card__img {
  width: 24rem;
}

.card__article1 {
  padding: 0 1.5rem;
}

.card__article1 h1 {
  font: 350 1.6rem sans-serif;
}

.card__article1 aside {
  position: absolute;
  top: 2rem;
  right: 3rem;
  width: 3.6rem;
  height: 1.3rem;
  border-radius: .2rem;
  background-color: rgb(228, 59, 59);
  color: #fff;
  text-align: center;
  font: 300 .8rem sans-serif;
  line-height: 1.3rem;
}

.card__article1 p {
  line-height: 1.8rem;
  background-image: -webkit-linear-gradient(bottom, rgb(255, 255, 255), rgb(128, 128, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card__article1__button {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  margin-left: -3.8rem;
  width: 7.6rem;
  height: 2.6rem;
  border-radius: 1.3rem;
  background-color: rgb(77, 77, 233);
  color: #fff;
  text-align: center;
  font: 320 1rem sans-serif;
  line-height: 2.6rem;
}